.teacher-card-style{
    font-family:   'Montserrat', sans-serif;
    border: none;
}
.footer-btn{
    background-color: black !important;
    border: none !important;
}
.footer-btn:hover{
    background-color: white !important;
    color: #EAB970 !important;
    transition: ease-out .3s;
    border: #EAB970 !important;
}
.i-style{
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.i-style a{
    color: black;
}
.i-style :hover{
    color: #EAB970;
    transition: .2s ease-in-out;
}
.card-bg{
    background-color: rgb(231, 229, 229) !important;
    box-shadow: 10px 5px 5px rgb(212, 199, 199);
}