.teacher-card-style{
    font-family:   'Montserrat', sans-serif;
}
.footer-btn{
    background-color: #EAB970 !important;
    border: none !important;
}
.footer-btn:hover{
    background-color: white !important;
    color: #EAB970 !important;
    transition: ease-out .3s;
    border: #EAB970 !important;
}
.i-style{
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black !important;
    
    /* background-color: white !important; */
}
.i-style :hover{
    color: #EAB970;
    transition: .3s ease-in-out;
}