ol p a{
    text-decoration: none;
    color: white;
}
body{
    overflow-x: hidden;
  }
.footer_style{
    margin-bottom: -25px;
}
.top-footer{
    background-color: #00224f;
    color: white;
    padding: 30px;
    text-align: center;
}
.main-footer{
    /* background-image: linear-gradient(#0a0b0bab,#030303a6); */
    background-color: #212529;
    color: white; 
}
.main-footer ul li{
    list-style: none;
    color: white;
}
.center-item{
    text-align: center;
}
.icon{
    padding: 8%;
    color: white;
    /* border: 2px solid white; */
    border-radius: 5px;
    /* background-color: white; */
}
.icon:hover{
    color: yellow;
    transition: ease-out .5s;
    /*  */
}
.follow{
    border-left: 3px solid white;
}
.nav_style{
    margin-top: -1px;
}